/* --------------------------------

Pulse 1.0.0
Copyright 2016, Jamie Curd
https://github.com/jamiecurd/pulse
MIT License

-------------------------------- */

/*----------------------
  Base/Main Styles
----------------------*/
* {
    box-sizing: border-box;
}


/*Container*/
.container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

/*Change link styles*/



/*----------------------
  Buttons
----------------------*/
/*Filled(standerd) button*/
.btn, button {
  outline: none;
  border: none;
  padding: 1em 3.0em;
  border-radius: .35em;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  overflow: hidden;
  background: #000000;
  color: #fff
}

.btn:hover, button:hover, [type=submit]:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}

/*Outlined Button*/
.btn-outline {
  border: 3px solid #000;
  color: #000;
  background: transparent;
  transition: all 0.5s ease;
}

/*----------------------
  Colors
----------------------*/
/*Black*/
.black {
  background-color: #000 !important;
}

.black-text {
  color: #000 !important;
}

/*White*/
.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff !important;
}

/*Grey*/
.grey {
  background-color: #4A4A4A !important;
}

.grey-text {
  color: #4A4A4A !important;
}

/*Red*/
.red {
  background-color: #ff3300 !important;
}

.red-text {
  color: #ff3300 !important;
}

.darkred {
  background-color: #e60000 !important;
}

.darkred-text {
  color: #e60000 !important;
}

/*Green*/
.green {
  background-color: #8bea7d !important;
}

.green-text {
  color: #8bea7d !important;
}

.darkgreen {
  background-color: #2eb82e !important;
}

.darkgreen-text {
  color: #2eb82e !important;
}

/*Blue*/
.blue {
  background-color: #4dd2ff !important;
}

.blue-text {
  color: #4dd2ff !important;
}

.darkblue {
  background-color: #0099cc !important;
}

.darkblue-text {
  color: #0099cc !important;
}

/*----------------------
  Grid
----------------------*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/*----------------------
  Lists
----------------------*/
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

/*----------------------
  Misc
----------------------*/
/*Blockquote*/
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 7px solid #33adff;
}

/*Responsive Images*/
.resimg {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Floating*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Text Align*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*Centerd Objects*/
.centered {
  display:block;
  float:none;
  margin-right:auto;
  margin-left:auto
}
