 h1 {
font-weight:bold;
color:#FFFFFF;
letter-spacing:2pt;
word-spacing:2pt;
font-size:199%;
text-align:center;
line-height:1;
position: fixed;
top: 55%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}
.top-header
{
	height: 759px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../img/bg.jpg');
	overflow: hidden;
}

.top-header-content
{
	padding: 10px;
	padding-top: 100px;
	padding-bottom: 40px;
	color: #fff;
	font-size: 1.4em;
	text-align: center;
	text-shadow: 1px 2px 0 #000;
}