/*Main Styles*/
html {
    background-color: #4a4a4a;
}

body {
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px
}

body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/*Fonts*/
@font-face {
  font-family: 'black';
  src: url('../font/montserrat/black.WOFF') format('woff'),
       url('../font/montserrat/black.ttf')  format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'bold';
  src: url('../font/montserrat/bold.WOFF') format('woff'),
       url('../font/montserrat/bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'extrabold';
  src: url('../font/montserrat/extrabold.woff') format('woff'),
       url('../font/montserrat/extrabold.ttf') format('truetype');
      font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'hairline';
  src: url('../font/montserrat/hairline.woff') format('woff'),
       url('../font/montserrat/hairline.ttf') format('truetype');
      font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'light';
  src: url('../font/montserrat/light.woff') format('woff'),
       url('../font/montserrat/light.ttf') format('truetype');
          font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'regular';
  src: url('../font/montserrat/regular.woff') format('woff'),
       url('../font/montserrat/regular.woff') format('woff');
     font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'semibold';
  src: url('../font/montserrat/semibold.woff') format('woff'),
       url('../font/montserrat/semibold.woff') format('woff');
     font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'ultralight';
  src: url('../font/montserrat/ultralight.woff') format('woff'),
       url('../font/montserrat/ultralight.woff') format('woff');
}



/*Header*/
.header {
  position: relative;
  height: 600px;
  background-image: url(../img/bg.png);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden; 
}

.logo {
  height: 250px;
  width: 100%;
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -100px; }

/*Navigation*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 90%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #4A4A4A;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}
.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px;
  }
}

.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #363636;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px 5% 40px calc(5% + 80px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.5rem;
  font-weight: 800;
  color: #BBBBBB;
  text-transform: uppercase;
  font-family: "semibold", serif;
}
.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}
.cd-nav .cd-primary-nav {
  margin-top: 60px;
}
.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}

.cd-nav .cd-primary-nav a {
  font-family: "semibold", serif;
  font-size: 2.0rem;
  color: #BBBBBB;
  display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
  color: #ffffff;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #363636;
}
.cd-nav .cd-primary-nav a:hover {
  color: #FFFFFF;
}
.cd-nav .cd-contact-info {
  margin-top: 80px;
}
.cd-nav .cd-contact-info li {
  font-family: "Regular";
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: #BBBBBB;
}
.cd-nav .cd-contact-info a {
  color: #BBBBBB;
}
.cd-nav .cd-contact-info span {
  display: block;
}
.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
  font-size: 1.5em;
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }
  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-nav .cd-half-block {
    width: 50%;
    float: left;
  }
  .cd-nav .cd-primary-nav {
    margin-top: 0;
  }
  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em;
  }
  .cd-nav .cd-primary-nav li {
    margin: 1.2em 0;
  }
  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem;
  }
  .cd-nav .cd-contact-info {
    margin-top: 120px;
  }
    .left{
        text-align: left;
    }
    .right {
        text-align: right;
    }
  .cd-nav .cd-contact-info li {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
  }
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 2rem;
  }
}

.icon{
    margin-right: 1em;
}

.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .cd-nav {
  position: static;
  visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: visible;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/*About*/
#about {
 height: 500px;   
}

.aboutimage {
    height: 500px;
    background-image: url(../img/avatar.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    overflow: hidden; 
    background-position: right;
}

.abouttext{
    float: left;
    text-align: center;
    line-height: 0.9;
    width: 50%;
    height 500px;
    top: 50%;
    margin-top: 130px;
}

@media (max-width: 700px) {
   .abouttext { 
       float: left;
       width: 100%;
       height 500px;
    }
}

.test {
    text-indent: 50px; 
}

.text1 {
    font-family: "extrabold";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 6.25em;
}

.text2 {
    font-family: "extrabold";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 3.125em;
}

.text3 {
    font-family: "ultralight";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 5em;
}

.text4 {
    font-family: "extrabold";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 2.5em
}

.text5 {
    font-family: "ultralight";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 2.5em;
}

.text6 {
    font-family: "semibold";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 2.5em;
}

.text7 {
    font-family: "semibold";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 1.875em;
}

.text8 {
    font-family: "ultralight";
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 1.875em;
}