html {
  background-color: #fff;
}

::selection {
  background:#E1E1E1;
}

::-moz-selection {
  background:#E1E1E1;
}

a {
  text-decoration: none;
}

/* --------------------
    Fonts
-------------------- */

@font-face {
    font-family: 'black';
    src: url('../font/montserrat/black.WOFF') format('woff'), url('../font/montserrat/black.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'bold';
    src: url('../font/montserrat/bold.WOFF') format('woff'), url('../font/montserrat/bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'extrabold';
    src: url('../font/montserrat/extrabold.woff') format('woff'), url('../font/montserrat/extrabold.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'hairline';
    src: url('../font/montserrat/hairline.woff') format('woff'), url('../font/montserrat/hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'light';
    src: url('../font/montserrat/light.woff') format('woff'), url('../font/montserrat/light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'regular';
    src: url('../font/montserrat/regular.woff') format('woff'), url('../font/montserrat/regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'semibold';
    src: url('../font/montserrat/semibold.woff') format('woff'), url('../font/montserrat/semibold.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ultralight';
    src: url('../font/montserrat/ultralight.woff') format('woff'), url('../font/montserrat/ultralight.woff') format('woff');
}


.header {
  height: 150px;
  width: 100%;
  background-color: #ffffff;
}

.text1 {
  font-family: "black";
  font-size: 50px;
  position: relative;
  top: 47.5px;
  left: 50px;
  color: #000 !important;
}

@media (max-width: 960px) {
  .text1 {
    font-size: 40px;
    top: 50px;
  }
}

@media (max-width: 720px) {
  .text1 {
    font-size: 40px;
    top: 50px;
    text-align: center;
  }
}

.text2 {
  font-family: "ultralight";
  font-size: 50px;
  position: relative;
  top: 47.5px;
  left: 50px;
  color: #000 !important;
}

@media (max-width: 960px) {
  .text2 {
    font-size: 40px;
    top: 50px;
  }
}

@media (max-width: 720px) {
  .text2 {
    font-size: 40px;
    top: 50px;
    text-align: center
  }
}

ul.nav {
    list-style-type: none;
    float: right;
}

li.nav {
    display: inline;
}

li.nav a {
  font-family: "ultralight";
  font-size: 30px;
  padding: 10px 10px;
  text-decoration: none;
  position: relative;
  top: 10px;
  text-decoration: none;
  color: #000000;
  left: -50px;
}

@media (max-width: 960px) {
  li.nav a {
    font-size: 20px;
    top: 22.5px;
  }
}

li.nav a:hover {
  color: #3E3E3E;
}


.photo {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1) !important; /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 1s ease-in-out;
}

.photo:hover {
  filter: none;
  -webkit-filter: grayscale(0) !important;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}







.footer {
  height: 150px;
  background-color: #fff;
  text-align: center;
}

li.icon {
  list-style-type: none;
  position: relative;
  top: 30px;
}

li.icon a {
  color: #000;
}

.fa {
  padding-left: 10px;
}

.fa:hover {
  color: #3E3E3E;
}

.text4 {
  font-family: "black";
  font-size: 50px;
  position: relative;
  top: 37.5px;
  color: #000 !important;
}

@media (max-width: 960px) {
  .text4 {
    font-size: 40px;
  }
}

.text5 {
  font-family: "ultralight";
  font-size: 50px;
  position: relative;
  top: 37.5px;
  color: #000 !important;
}

@media (max-width: 960px) {
  .text5 {
    font-size: 40px;
  }
}

.centered {
  display:block;
  float:none;
  margin-right:auto;
  margin-left:auto
}



/*--------
ABOUT PAGE
-------*/


.about {
  height: 560px;
  width: 100%;
  background-color: #000;
  text-align: center;
}

@media (max-width: 1024px) {
  .about {
    height: 600px;
  }
}

@media (max-width: 960px) {
  .about {
    height: 660px;
  }
}

@media (max-width: 840px) {
  .about {
    height: 700px;
  }
}

@media (max-width: 720px) {
  .about {
    height: 800px;
  }
}

@media (max-width: 600px) {
  .about {
    height: 940px;
  }
}

@media (max-width: 480px) {
  .about {
    height: 1200px;
  }
}

@media (max-width: 360px) {
  .about {
    height: 1560px;
  }
}

.text6 {
  font-family: "black";
  font-size: 45px;
  color: #fff;
  position: relative;
  top: 50px;
}

.text7{
  font-family: "ultralight";
  font-size: 45px;
  color: #fff;
  position: relative;
  top: 50px;
}

.container {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.text8 {
  font-family: "regular";
  font-size: 30px;
  color: #fff;
  position: relative;
  top: 100px;
  line-height: 50px;
}


#map {
  width: 100%;
  height: 400px;
}

.text9 {
  font-family: "regular";
  font-size: 40px;
  position: relative;
  top: 50px;
}
